*{
     padding: 0 auto;
     margin: 0 auto;
}

/* selectores de ID*/
#contenedor {
    width: 1200px;
    height: 1000px;
    background-color: rgb(2, 124, 2);

}

#encabezado {
    height: 15%;
    background-color: greenyellow;
    margin: lem;


}

#menu {
    height: 5%;
    background-color: grey;
    margin: lem auto;
}

#contenido {
    height: 70%;
    width: 61%;
    background-color: coral;
    margin: 0.5%em;
    float: left;

}

#fueraSeccion {
    height: 70%;
    width: 36%;
    background-color: greenyellow;
    margin: 0.5em;
    float: right;

}

#pie {
    height: 5%;
    background-color: darkgray;
    border-radius: lem;
    margin: 1.5em;

}

.texto{
    text-align: justify;
    font-family: tahoma;
    font-size: 12;
    padding-top: 10px;
    margin-right: 15%;
    margin-left: 15%;
}

.encabezado_articulo{
    text-align: center;
    background-color: #333;
    color: whitesmoke;
    margin: auto 2em;


}

.imagenes {
    display: block;
    border: 1px solid #ddd;
    margin-left: 50%;
    border-radius: 4px;
    width: 150px;
    
    
}

/* selector de etiqueta */

ul {


    text-align: center;

}

li {

    display: inline;
    padding-left: 60px;
    padding-right: 60px;
    text-align: center;


    
}